html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.calendar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.calendar {
  border: none!important;
  margin: 0 auto;
}

.react-calendar__month-view__days__day {
  border: 1px solid rgba(0,0,0,0.25)!important;
}

.react-calendar__month-view__weekdays {
  display: none!important;
}

.react-calendar__navigation {
  margin-bottom: 0!important;
  background-color: lightgray;
}

.react-calendar__tile--now {
  background: none!important;
  border: 1px solid rgb(148, 58, 131) !important;
}

.title__container {
  width: 100%;
  padding: 15px 10px;
  background-color: lightgray;
  z-index: 1;
}

.title {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.img {
  width: 160px;
}

.desc {
  width: 250px;
  text-align: center;
}

.list__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.list {
  overflow: hidden;
  width: 100%;
}

.hide {
  height: 315px;
}

.list__day {
  padding: 15px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.cover {
  width: 70px;
  height: 110px;
  box-shadow: 3px 3px 10px 0 grey;
  border-radius: 3px;
}

.cover_full {
  width: 100%;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 1);
}

.cover_full__container {
  position: fixed;
  left: 0;
  width: 100%;
  top: 10vh;
  height: 100vh;
  z-index: 4;
}

.serial {
  font-size: 12px;
  display: flex;
  margin: 15px 20px;
}

.serial__desc {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}

.serial__desc_box {
  padding: 10px;
  background-color: lightgray;
  width: 160px;
  border-radius: 2px;
  display: flex;
}

.serial__desc_box div{
  width: 80px;
}

.text_grey {
  color:grey;
}

.btn {
  width: 80%;
  padding: 7px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  background: none;
  font-size: 12px;
}

.back {
  width: 15px;
  height: 20px;
}

.btn__back {
  z-index: 2;
  background: none;
  border: none;
  position: absolute;
  left: 10px;
  top: 15px
}

@media screen and (max-width: 425px) {

  .calendar {
    width: 100% !important
  }
}

